body{
    background: grey;
}
.container{
    background: rgb(240, 144, 151, 0.7);
    font-family: 'Permanent Marker', cursive;
    /* margin-top: 40px; */
    border-radius: 20%;
    padding: 35px;

}

.text{
    background: rgb(236, 196, 196);
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20%;
    font-family: 'Permanent Marker', cursive;
    box-shadow: 2px 2px;
    margin: auto

}

p{
    line-height: 1.6;
    margin:10px;
    border-radius: 30%;
    font-family: 'Permanent Marker', cursive;
    border-color: grey;
    text-align: center;

}
h1{
    color: grey;
    opacity: 0.5;
}

.name{
    /* background: rgba(145, 35, 40, 0.44); */
    text-align: center;
    padding-left: 340px;
    /* padding: 20px; */
    width: auto;
    font-size: 30px;
    /* position: relative; */
    /* left: 0px; */
    border-radius: 70%;
    font-family: 'Permanent Marker', cursive;
    margin: auto;
    box-shadow: 3px 3px;

}


.btn{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 20%;
    margin-left: 400px;
    background: grey;
    border-radius: 100%;
    border-color: grey;


}


.compGuess, .winLose, .score{
    width: 250px;
    height: 150px;
    background: rgb(236, 196, 196);
    border-radius: 20%;
    font-family: 'Permanent Marker', cursive;
    padding: 20px;
    text-align: center;
    margin: auto;
    box-shadow: 2px 2px;
    border-color: grey;

}
